@charset "UTF-8";

main {
	margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.vs-index {
	height: 220px;
	background: url(../../img/vs-index.png) center no-repeat;
	background-size: cover;
	border-bottom: 2.5px solid #000
}

#selector {
	height: 350px;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}